<div class="row featurette" id="who-we-are">
  <div class="col-md-7">
    <h2 class="featurette-heading">Who We Are</h2>
    <p class="lead">The World's Fair Marina Canoe Club is comprised of paddlers from varying athletic abilities,
      backgrounds and interests. These individuals actively train in the sport of outrigger canoeing,
      enhancing their dragonboat paddling skill, and further encourage the pursuit for health and fitness.
      We are a group that distinguishes ourselves through paddling with passion, fun, and integrity.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('ocs.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="what-is-oc">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('scorpius.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">What is an Outrigger Canoe?</h2>
    <p class="lead">
      An outrigger canoe is a type of canoe with a lateral support float, called an <em>ama</em>.
      The <em>ama</em> is connected to the main hull with bars, called <em>iakos</em>. These two things
      help stabilize the boat and allow for safer paddling across rough waters. Outrigger canoes are also
      designed for speed, with long and hydronamically efficient hulls, and light carbon fiber construction weighing a
      total of 30lbs.
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="why-oc">
  <div class="col-md-7">
    <h2 class="featurette-heading">Why OC?</h2>
    <p class="lead">For dragonboaters, paddling on an OC is a huge win. You can paddle on both sides of
      the OC which will help balance out your body. Also you learn to pull your own weight, which is difficult to gauge
      when sitting in a dragon boat with 19 others. Being on an OC also allows you to go at your own pace, and go as far
      as you want to. So whether you want to paddle solo (one-man) or with a partner (two-man), we have the OCs to
      accommodate you.<p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('cloud_amy.jpg')%>" >
  </div>
</div>



 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing">

   <!-- FOOTER -->
   <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
     <p>&copy; 2013 NYC Worlds Fair Marina Canoe Club. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>

 </div><!-- /.container -->
