<div class="row featurette" id="who-we-are">
  <div class="col-md-7">
    <h2 class="featurette-heading">Join Us!</h2>
    <p class="lead">We are open to all paddlers from any club. Our home is the World's Fair Marina in Queens, NYC behind Citi Field.
      Our club has over 20 members, all of whom live in the NYC Metropolitan area.
      All of our members are 18+ yrs old but youth members are always welcome (we just ask that you and your parental guardian <%= link_to "sign the club waiver", asset_path('WFMCC_Electronic_Waiver.pdf') %>).
      Some of our elite members compete in OC/Surfski competitions across the East Coast.
      There are plenty of paddling opportunities for those who want to enjoy the sport recreationally and for those who want to compete.
    </p>
  </div>
  <div class="col-md-5">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_q&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<hr class="featurette-divider">
