<div class="row featurette" id="practices">
  <div class="col-md-7">
    <h2 class="featurette-heading">Practices. <span class="text-muted">Mar - Dec</span></h2>
    <p class="lead">
      <em>Subject to change due to weather, water temperature, boat availability.</em>
      Tuesday 6:30PM-8:30PM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
      Thursday 6:30PM-8:30PM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
      Saturday 8:00AM - 10:00AM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
      Sunday 8:00AM - 10:00AM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
    </p>

  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('kevin_and_tony_race.jpg')%>" >
  </div>
</div>

<hr class="featurette-divider">
